<%-include("partials/header")%>

<form action="/dog" method="post" class="jumbotron">
    <input type="text" name="name" placeholder="name">
    <input class="btn btn-success" type="submit">
</form>

<%-include("partials/footer")%>
